In [1]:
import pandas as pd
import math

In [2]:
## There are 1000 bottles

In [3]:
num = [a for a in range(1,1000)]

In [4]:
df = pd.DataFrame(num,columns=['Glass_of_wine'])

In [5]:
df.head()

   Glass_of_wine
0              1
1              2
2              3
3              4
4              5

As there is a only live or not live, we are going with binary

As there are 3 bottles are poissoned, there are 3 combination of 1000

In [8]:
print("There are total combination of ", math.comb(1000, 3))

There are total combination of  166167000

To find how many prisoners we are going to take, we comes up with log of 2

In [10]:
print("The total number of prisoners who going to drink wines are ",math.ceil(math.log2(math.comb(1000, 3))))

The total number of prisoners who going to drink wines are  28

In [ ]:
######Calculation of bit

In [12]:
df['bit'] = df['Glass_of_wine'].apply(lambda x: format(x,'028b'))

In [13]:
df.head()

   Glass_of_wine                           bit
0              1  0000000000000000000000000001
1              2  0000000000000000000000000010
2              3  0000000000000000000000000011
3              4  0000000000000000000000000100
4              5  0000000000000000000000000101

In [14]:

bit_cols = df['bit'].apply(lambda x: pd.Series(list(x))).astype(int)
bit_cols.columns = [f'prisoner_{i+1}' for i in range(28)]

df = pd.concat([df, bit_cols], axis=1)

In [16]:
# Sample matrix looks like

In [15]:
df.head()

,Glass_of_wine,bit,prisoner_1,prisoner_2,prisoner_3,prisoner_4,prisoner_5,prisoner_6,prisoner_7,prisoner_8,...,prisoner_19,prisoner_20,prisoner_21,prisoner_22,prisoner_23,prisoner_24,prisoner_25,prisoner_26,prisoner_27,prisoner_28
0,1,0000000000000000000000000001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,0000000000000000000000000010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,0000000000000000000000000011,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,4,0000000000000000000000000100,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,5,0000000000000000000000000101,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

Here 0 mention, he did not drink the glass of wine,
1 mention, he drinks the glass of wine

####  So, from this matrix, with correspond to the person dies, we can find which bottles are poissoned.

In [17]:
df.to_csv('poisson_detector.csv')