In [1]:
import pandas as pd
import math

In [2]:
## There are 1000 bottles

In [3]:
num = [a for a in range(1,6)]

In [4]:
df = pd.DataFrame(num,columns=['Glass_of_wine'])

In [5]:
df.head()

   Glass_of_wine
0              1
1              2
2              3
3              4
4              5

As there is a only live or not live, we are going with binary

As there are 3 bottles are poissoned, there are 2 combination of 6

In [6]:
print("There are total combination of ", math.comb(6, 2))

There are total combination of  15

To find how many prisoners we are going to take, we comes up with log of 2

In [ ]:
print("The total number of prisoners who going to drink wines are ",math.ceil(math.log2(math.comb(63, 2))))

The total number of prisoners who going to drink wines are  4

In [8]:
######Calculation of bit

In [9]:
df['bit'] = df['Glass_of_wine'].apply(lambda x: format(x,'04b'))

In [10]:
df.head()

   Glass_of_wine   bit
0              1  0001
1              2  0010
2              3  0011
3              4  0100
4              5  0101

In [11]:

bit_cols = df['bit'].apply(lambda x: pd.Series(list(x))).astype(int)
bit_cols.columns = [f'prisoner_{i+1}' for i in range(4)]

df = pd.concat([df, bit_cols], axis=1)

In [12]:
# Sample matrix looks like

In [13]:
df.head()

   Glass_of_wine   bit  prisoner_1  prisoner_2  prisoner_3  prisoner_4
0              1  0001           0           0           0           1
1              2  0010           0           0           1           0
2              3  0011           0           0           1           1
3              4  0100           0           1           0           0
4              5  0101           0           1           0           1

Here 0 mention, he did not drink the glass of wine,
1 mention, he drinks the glass of wine

####  So, from this matrix, with correspond to the person dies, we can find which bottles are poissoned.

In [14]:
df.to_csv('poisson_detector_6.csv')

# So if 3 and 1 are poisoned, then prisoner 4 and 3 will die